name: Test

on:
  push:
    branches:
      - "*"

env:
  architectures: linux/amd64,linux/arm64,linux/arm/v7

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Build custom env
        id: custom_env
        run: echo "TAG_NAME=$(basename ${{ github.ref }})" >> $GITHUB_ENV

      - name: Setup docker buildx
        id: docker_buildx
        uses: docker/setup-buildx-action@v1

      - name: Add QEMU architectures
        id: docker_qemu
        uses: docker/setup-qemu-action@v1
        with:
          platforms: arm,arm64

      - name: Inspect builder
        run: |
          echo "Name: ${{ steps.docker_buildx.outputs.name }}"
          echo "Buildx Platforms: ${{ steps.docker_buildx.outputs.platforms }}"
          echo "QEMU Platforms: ${{ steps.docker_qemu.outputs.platforms }}"

      - name: Build and Deploy
        run: docker buildx build --platform=${{ env.architectures }}
          -t ghcr.io/${{ github.repository }}:${{ env.TAG_NAME }} --output "type=local,dest=docker_output"
          .

      - name: Inspect output
        run: |
          file docker_output/linux_amd64/app/postman-mockserver
          file docker_output/linux_arm64/app/postman-mockserver
          file docker_output/linux_arm_v7/app/postman-mockserver

